@headerHeight: 45px;
@collapseWidth: 64px;
@notCollapseWidth: 180px;
@color: #2E2E2F;
.navTextColor() {
  i{
    color: #FFFFFF !important;
  }

  color: #FFFFFF !important;
}

#main {
  background: @color;

  & > .header {
    background: #FFFFFF;
    color: @color;
    padding: 0;
    height: @headerHeight !important;
    line-height: @headerHeight;

    .nav-top-collapse-icon {
      display: none;
    }
  }

  & .header-logo {
    background: @color;
    height: @headerHeight !important;
    width: @notCollapseWidth !important;
    transition: all .2s linear 0s !important;
  }

  & .header-logo img {
    height: 38px;
    padding-bottom: 0;
    margin-top: 4px;
  }

  & .header-nav {
    box-shadow: 1px 1px 2px #DDDDDD;
    height: @headerHeight !important;
  }

  & .header-nav {
    & > div {
      // width : 40px;
      &:hover {
        background: @color;
        color: #FFFFFF;
      }
    }

    & .el-dropdown {
      height: @headerHeight !important;
      width: @headerHeight - 5px;

      & > div {
        height: @headerHeight - 5px !important;
      }
    }

    .header-avatar {
      width: 30px;
      height: 30px;
      margin: 8px 5px 0px;
    }

    .el-icon--right {
      top: 32px;
    }
  }

  .nav-left {
    @textColor: #C0C4CC;

    &.not-collapse {
      width: @notCollapseWidth !important;
    }

    .el-menu-item i, .el-submenu__title i {
      color: @textColor !important;
    }

    .el-menu-item, .el-submenu__title {
      transition: none;
      color: @textColor !important;

      &.is-active {
        position: relative;
        margin: 0;
        box-sizing: border-box;

        .navTextColor();

        &::before {
          content: "";
          height: 70%;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          position: absolute;
          border-left: 3px solid #f7b9a5;
        }
      }

      &:hover {
        .navTextColor();
      }
    }
  }

  & .content-container {
    border-radius: 0;
    margin-right: 0;
    height: calc(100vh - 45px);
  }

  & .breadcrumb__link .el-breadcrumb__inner {
    color: #1D1D1E;
  }

  // 收缩菜单
  & .is-collapse {
    .header-logo {
      width: @collapseWidth !important;
      padding-left: 0;
    }

    //.header-logo::before {
    //  content : '\e7a5';
    //  position : absolute;
    //  font-family : 'font_family', serif !important;
    //  font-size : 40px;
    //  text-align : center;
    //  width : 74px;
    //  left : 0;
    //  color : #FFFFFF;
    //}

    .header-logo img {
      height: @headerHeight - 3px;
      margin: -2px 0 0 -2px;
      width: @headerHeight - 3px !important;
      object-fit: cover;
      object-position: left;
    }

    &.nav-left {
      &.is-collapse {
        width: @collapseWidth !important;
      }

      .el-menu-item, .el-submenu__title {
        &.is-active {
          margin-right: 0;
        }
      }
    }
  }

  // 手机模式
  &.set-mob {
    .header-logo {
      width: 180px !important;
    }

    .content-container {
      margin-left: 0;
    }

    .aside-nav {
      background-color: @color;
    }

    .float-nav-btn {
      background-color: @color;
    }
  }
}
.el-menu--vertical{
  .el-menu-item, .el-submenu__title {

    &.is-active {
      .navTextColor();
    }

    &:hover {
      .navTextColor();
    }
  }
}
.el-menu--popup {
  background-color: @color !important;
}
