#main {
  background: #2E2E2F;
}
#main > .header {
  background: #FFFFFF;
  color: #2E2E2F;
  padding: 0;
  height: 45px !important;
  line-height: 45px;
}
#main > .header .nav-top-collapse-icon {
  display: none;
}
#main .header-logo {
  background: #2E2E2F;
  height: 45px !important;
  width: 180px !important;
  transition: all 0.2s linear 0s !important;
}
#main .header-logo img {
  height: 38px;
  padding-bottom: 0;
  margin-top: 4px;
}
#main .header-nav {
  box-shadow: 1px 1px 2px #DDDDDD;
  height: 45px !important;
}
#main .header-nav > div:hover {
  background: #2E2E2F;
  color: #FFFFFF;
}
#main .header-nav .el-dropdown {
  height: 45px !important;
  width: 40px;
}
#main .header-nav .el-dropdown > div {
  height: 40px !important;
}
#main .header-nav .header-avatar {
  width: 30px;
  height: 30px;
  margin: 8px 5px 0px;
}
#main .header-nav .el-icon--right {
  top: 32px;
}
#main .nav-left.not-collapse {
  width: 180px !important;
}
#main .nav-left .el-menu-item i,
#main .nav-left .el-submenu__title i {
  color: #C0C4CC !important;
}
#main .nav-left .el-menu-item,
#main .nav-left .el-submenu__title {
  transition: none;
  color: #C0C4CC !important;
}
#main .nav-left .el-menu-item.is-active,
#main .nav-left .el-submenu__title.is-active {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  color: #FFFFFF !important;
}
#main .nav-left .el-menu-item.is-active i,
#main .nav-left .el-submenu__title.is-active i {
  color: #FFFFFF !important;
}
#main .nav-left .el-menu-item.is-active::before,
#main .nav-left .el-submenu__title.is-active::before {
  content: "";
  height: 70%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  border-left: 3px solid #f7b9a5;
}
#main .nav-left .el-menu-item:hover,
#main .nav-left .el-submenu__title:hover {
  color: #FFFFFF !important;
}
#main .nav-left .el-menu-item:hover i,
#main .nav-left .el-submenu__title:hover i {
  color: #FFFFFF !important;
}
#main .content-container {
  border-radius: 0;
  margin-right: 0;
  height: calc(100vh - 45px);
}
#main .breadcrumb__link .el-breadcrumb__inner {
  color: #1D1D1E;
}
#main .is-collapse .header-logo {
  width: 64px !important;
  padding-left: 0;
}
#main .is-collapse .header-logo img {
  height: 42px;
  margin: -2px 0 0 -2px;
  width: 42px !important;
  object-fit: cover;
  object-position: left;
}
#main .is-collapse.nav-left.is-collapse {
  width: 64px !important;
}
#main .is-collapse.nav-left .el-menu-item.is-active,
#main .is-collapse.nav-left .el-submenu__title.is-active {
  margin-right: 0;
}
#main.set-mob .header-logo {
  width: 180px !important;
}
#main.set-mob .content-container {
  margin-left: 0;
}
#main.set-mob .aside-nav {
  background-color: #2E2E2F;
}
#main.set-mob .float-nav-btn {
  background-color: #2E2E2F;
}
.el-menu--vertical .el-menu-item.is-active,
.el-menu--vertical .el-submenu__title.is-active {
  color: #FFFFFF !important;
}
.el-menu--vertical .el-menu-item.is-active i,
.el-menu--vertical .el-submenu__title.is-active i {
  color: #FFFFFF !important;
}
.el-menu--vertical .el-menu-item:hover,
.el-menu--vertical .el-submenu__title:hover {
  color: #FFFFFF !important;
}
.el-menu--vertical .el-menu-item:hover i,
.el-menu--vertical .el-submenu__title:hover i {
  color: #FFFFFF !important;
}
.el-menu--popup {
  background-color: #2E2E2F !important;
}
