.warpper-bg {
  background: linear-gradient(50deg, rgba(146, 146, 146, 0.02) 0%, rgba(146, 146, 146, 0.02) 25%, rgba(82, 82, 82, 0.02) 25%, rgba(82, 82, 82, 0.02) 50%, rgba(217, 217, 217, 0.02) 50%, rgba(217, 217, 217, 0.02) 75%, rgba(41, 41, 41, 0.02) 75%, rgba(41, 41, 41, 0.02) 100%), linear-gradient(252deg, rgba(126, 126, 126, 0.01) 0%, rgba(126, 126, 126, 0.01) 25%, rgba(117, 117, 117, 0.01) 25%, rgba(117, 117, 117, 0.01) 50%, rgba(219, 219, 219, 0.01) 50%, rgba(219, 219, 219, 0.01) 75%, rgba(41, 41, 41, 0.01) 75%, rgba(41, 41, 41, 0.01) 100%), linear-gradient(272deg, rgba(166, 166, 166, 0.01) 0%, rgba(166, 166, 166, 0.01) 20%, rgba(187, 187, 187, 0.01) 20%, rgba(187, 187, 187, 0.01) 40%, rgba(238, 238, 238, 0.01) 40%, rgba(238, 238, 238, 0.01) 60%, rgba(204, 204, 204, 0.01) 60%, rgba(204, 204, 204, 0.01) 80%, rgba(5, 5, 5, 0.01) 80%, rgba(5, 5, 5, 0.01) 100%), linear-gradient(86deg, rgba(143, 143, 143, 0.02) 0%, rgba(143, 143, 143, 0.02) 12.5%, rgba(36, 36, 36, 0.02) 12.5%, rgba(36, 36, 36, 0.02) 25%, rgba(23, 23, 23, 0.02) 25%, rgba(23, 23, 23, 0.02) 37.5%, rgba(223, 223, 223, 0.02) 37.5%, rgba(223, 223, 223, 0.02) 50%, rgba(101, 101, 101, 0.02) 50%, rgba(101, 101, 101, 0.02) 62.5%, rgba(94, 94, 94, 0.02) 62.5%, rgba(94, 94, 94, 0.02) 75%, rgba(148, 148, 148, 0.02) 75%, rgba(148, 148, 148, 0.02) 87.5%, rgba(107, 107, 107, 0.02) 87.5%, rgba(107, 107, 107, 0.02) 100%), linear-gradient(25deg, rgba(2, 2, 2, 0.02) 0%, rgba(2, 2, 2, 0.02) 16.667%, rgba(51, 51, 51, 0.02) 16.667%, rgba(51, 51, 51, 0.02) 33.334%, rgba(26, 26, 26, 0.02) 33.334%, rgba(26, 26, 26, 0.02) 50.001%, rgba(238, 238, 238, 0.02) 50.001%, rgba(238, 238, 238, 0.02) 66.668%, rgba(128, 128, 128, 0.02) 66.668%, rgba(128, 128, 128, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%), linear-gradient(325deg, rgba(95, 95, 95, 0.03) 0%, rgba(95, 95, 95, 0.03) 14.286%, rgba(68, 68, 68, 0.03) 14.286%, rgba(68, 68, 68, 0.03) 28.572%, rgba(194, 194, 194, 0.03) 28.572%, rgba(194, 194, 194, 0.03) 42.858%, rgba(51, 51, 51, 0.03) 42.858%, rgba(51, 51, 51, 0.03) 57.144%, rgba(110, 110, 110, 0.03) 57.144%, rgba(110, 110, 110, 0.03) 71.43%, rgba(64, 64, 64, 0.03) 71.43%, rgba(64, 64, 64, 0.03) 85.716%, rgba(31, 31, 31, 0.03) 85.716%, rgba(31, 31, 31, 0.03) 100.002%), linear-gradient(90deg, #363845, #575a71);
}
.warpper-bg > img {
  visibility: hidden;
}
#login-main {
  --tw-shadow: 0 0 15px 3px #fffcfc;
}
#navIcon {
  display: inline-block;
}
#main {
  background-color: #363845;
  background-size: 200px;
}
#main > .header {
  color: #363845;
  padding: 0;
  height: 45px !important;
  line-height: 45px;
}
#main .header-logo {
  overflow: hidden;
  height: 45px !important;
  width: 196px !important;
  transition: all 0.1s cubic-bezier(0.67, 1.24, 1, 1.01) !important;
}
#main .header-logo img {
  height: 38px;
}
#main .header-nav {
  background: #FFFFFF;
  box-shadow: 1px 1px 2px #DDDDDD;
  height: 45px !important;
}
#main .header-nav > div:hover {
  background: #363845;
  color: #FFFFFF;
}
#main .header-nav .el-dropdown {
  height: 45px !important;
  width: 40px;
}
#main .header-nav .el-dropdown > div {
  height: 40px !important;
}
#main .header-nav .header-avatar {
  width: 30px;
  height: 30px;
  margin: 8px 5px 0px;
}
#main .header-nav .el-icon--right {
  top: 32px;
}
#main .nav-left {
  transition: all 0.1s cubic-bezier(0.67, 1.24, 1, 1.01) !important;
}
#main .nav-left.not-collapse {
  width: 196px !important;
}
#main .nav-left .el-menu-item i,
#main .nav-left .el-submenu__title i {
  color: #C0C4CC !important;
}
#main .nav-left .el-menu-item,
#main .nav-left .el-submenu__title {
  transition: none;
  color: #C0C4CC !important;
}
#main .nav-left .el-menu-item.is-active,
#main .nav-left .el-submenu__title.is-active {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  color: #FFFFFF !important;
}
#main .nav-left .el-menu-item.is-active i,
#main .nav-left .el-submenu__title.is-active i {
  color: #FFFFFF !important;
}
#main .nav-left .el-menu-item.is-active::before,
#main .nav-left .el-submenu__title.is-active::before {
  content: "";
  height: 70%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  border-left: 3px solid #f7b9a5;
}
#main .nav-left .el-menu-item:hover,
#main .nav-left .el-submenu__title:hover {
  color: #FFFFFF !important;
}
#main .nav-left .el-menu-item:hover i,
#main .nav-left .el-submenu__title:hover i {
  color: #FFFFFF !important;
}
#main .content-container {
  border-radius: 0;
  margin-right: 0;
  height: calc(100vh - 45px);
}
#main .breadcrumb__link .el-breadcrumb__inner {
  color: #1D1D1E;
}
#main .is-collapse .header-logo {
  width: 64px !important;
  padding-left: 0;
}
#main .is-collapse .header-logo img {
  height: 42px;
  margin: -2px 0 0 -2px;
  width: 42px !important;
  object-fit: cover;
  object-position: left;
}
#main .is-collapse.nav-left.is-collapse {
  width: 64px !important;
}
#main .is-collapse.nav-left .el-menu-item.is-active,
#main .is-collapse.nav-left .el-submenu__title.is-active {
  margin-right: 0;
}
#main.set-mob .header-logo {
  display: none;
}
#main.set-mob .content-container {
  margin-left: 0;
}
#main.set-mob .aside-nav {
  background-color: #363845;
}
#main.set-mob .float-nav-btn {
  background-color: #363845;
}
.el-menu--vertical .el-menu-item.is-active,
.el-menu--vertical .el-submenu__title.is-active {
  color: #FFFFFF !important;
}
.el-menu--vertical .el-menu-item.is-active i,
.el-menu--vertical .el-submenu__title.is-active i {
  color: #FFFFFF !important;
}
.el-menu--vertical .el-menu-item:hover,
.el-menu--vertical .el-submenu__title:hover {
  color: #FFFFFF !important;
}
.el-menu--vertical .el-menu-item:hover i,
.el-menu--vertical .el-submenu__title:hover i {
  color: #FFFFFF !important;
}
.el-menu--popup {
  background-color: #363845;
}
/*# sourceMappingURL=app.css.map */
